.genre-item__container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid transparent;
    padding: 16px 8px;
    cursor: default;

    &.selected {
        border-bottom: 2px solid#F65261;
    }

    & .genre-item__name {
        margin: 0;
        color: white;
        text-transform: uppercase;
        font-family: Montserrat, sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}