.sort-dropdown-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
  
.label {
    margin-right: 10px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.889px;
    text-transform: uppercase;
}
  
.select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;

    option {
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.889px;
        text-transform: uppercase;
    }
}